<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-5">
        <h2 class="mb-4">Contactez-nous</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h4><i class="bi bi-geo-alt"></i> Adresse</h4>
                        <p>123 Rue de la Santé, Ville</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h4><i class="bi bi-telephone"></i> Téléphone</h4>
                        <p>+212 6 12 34 56 78</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>